/* General styles */
html, body {
    height: 100%; /* Ensure the html and body elements take full viewport height */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('img/bgvert.jpg'); /* Set background image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background */
    min-height: 100vh; /* Ensure the body is at least as tall as the viewport */
    position: relative; /* Set position context */
}

/* Ensures that the content sections take up full width and images scale properly */
.content-section {
    width: 100%;
    overflow: hidden;
}

/* Padding and margins for structured layout within contact and video sections */
.contact-section {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item {
    margin: 0 10px;
}

/* Contact item link styles for interactive icons */
.contact-item div img {
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    transition: opacity 0.3s ease; /* Smooth transition for hover effect */
}

.contact-item div:hover img:first-of-type,
.contact-item div:active img:first-of-type {
    display: none; /* Hide the white icon on hover/click */
}

.contact-item div:hover img:last-of-type,
.contact-item div:active img:last-of-type {
    display: block; /* Show the green icon on hover/click */
}

/* Video section styles */
.video-section {
    padding: 20px;
}

.video-thumbnail {
    text-align: center;
    margin-bottom: 20px;
    background-color: transparent; /* Set background color to transparent */
}

.video-thumbnail p {
    color: white; /* Set text color to white for visibility */
}

iframe {
    display:block;
    margin: auto;
    width: 100%;
    height: 200px; /* Adjusted for consistency */
}

/* Default styles for images to ensure they fit their containers */
img {
    width: 100%;
    height: auto;
}

/* Orientation-specific styles */

/* Hide the horizontal container by default */
#horizontal {
    display: none;
}

/* Landscape Orientation: Display horizontal and hide vertical content */
@media (orientation: landscape) {
    #horizontal {
        display: block;  /* Show horizontal content */
    }
    #vertical {
        display: none;  /* Hide vertical content */
    }
}

/* Portrait Orientation: Display vertical and hide horizontal content */
@media (orientation: portrait) {
    #vertical {
        display: block;  /* Show vertical content */
    }
    #horizontal {
        display: none;  /* Hide horizontal content */
    }
}
